<%- include('includes/header') %>
    <%- include('includes/navigation') %>
        <form action="/add-note" method="POST">
            <input type="text" name="title" placeholder="Title" id="title">
            <input type="submit" value="Submit">
        </form>

        <%- include('includes/footer') %>